
/* Override browser default styles*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: white; 
    background-color: black;
    font-family: 'Inter';
}

.red {
    color: rgb(199, 0, 0);
}

.white {
    color: white;
}


header {
    background-color: black;  
    position: fixed;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 5; 
    margin-bottom: 50px;
    height: auto; 
    
}

h1 {
    padding: 0.8rem; 
    text-decoration: none; 
    font-size: 300%;
    color: white;
    font-size: 290%;
}

h2 {
    font-size: 150%;
    color: rgb(199, 0, 0);
}

h3 {
    color: white; 
    font-weight: 200;;
}

a {
    text-decoration: none;
    color: rgb(199, 0, 0); 

}

#nav-items {
    list-style-type: none;
    font-size: 110%; 
    letter-spacing: 4px;
    width: 100%; 
    text-align: center;
    font-size: 1.5rem; 
    margin: 1rem auto 1rem auto; 
}

#nav-items > li {
    margin-bottom: 1em; 
}


/*nav bar styles with dropdown toggle*/

nav {
    position: absolute; 
    left: 0; 
    top: 100%;
    width: 100%; 
    display: none;
    padding: 0 1em;
    background-color: black;
  
}

/*Hamburger menu styles*/

#nav-toggle:checked~nav {
    display: block; 
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: white; 
}

.fa-solid, .fas {
    font-weight: 900;
    font-size: 35px;
}

/*Main styles*/

main {
    
    /*make main element styles*/
    /*make main element take up any surplus space to push footer down*/
    width: 100%;
    height: auto;     
}

#hero {   
    width: 100%; 
    position: relative; 
    top: 50px; 
    margin-bottom: 40px;
}

#hero-image {
    width: 100%;   
    margin: 0;   
}

#hero-image img {
    width: 100%; 
}

/*Album release section styles*/ 

#album-section {
    width: 100%;  
    margin: 0 auto 0p auto; 
    position: relative;
    top: 0;
}

/* .black-background-wrapper {
    width:100%;
    height: auto;
    background-color: black;
} */

#album-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10 auto;
    padding-top: 120px;
    position: relative;
}


.album-section-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 180%;
    margin-bottom: 100px;
    color: white; 
    font-weight: 350;
    margin: 0 auto;
    text-transform: uppercase;
    padding-bottom: 20px; 
    max-width: 819.188px; 
}


.reviews {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;   
    justify-content: space-around;
    gap: 7%;
    background-color: black;
    padding: 30px 2%; 
    max-width: 778.250px;
    border-bottom: solid 2px white; 
    border-top: solid 2px white; 
    margin-bottom: 30px; 
}

.reviews > figure {
    padding-bottom: 5px;
    margin-bottom: 30px; 
}

.mag-titles {
    text-transform: uppercase;
    font-size: 110%;
    color: rgb(199, 0, 0); 
    font-style: italic;
}

blockquote {
    margin-bottom: 10px; 
}


blockquote > p {
    display: flex; 
    justify-content: space-around;
    gap: 5px;
}

figure {
    font-size: 0.8rem;
}

.stars {
    color: white;
    font-size: 1rem;
}


.album-image {
    margin-bottom: 20px; 
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    margin: 0 auto 40px auto;
    padding-top: 20px; 
    max-width: 819.188px; 
    
}

.album-image img {
    width: 100%;
    height: auto;

}

#album-buttons {
    display : flex; 
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    padding-bottom: 50px;   
    background-color: black;
}


#album-buttons > button {
    width: 50%;
    letter-spacing: 3px;
    font-weight: 600;
    background-color: rgb(199, 0, 0);
    padding: 10px 10px;
    border: 0;
    text-align: center;
    color: white;
    font-size: 130%;
    text-transform: uppercase; 
}


/*singer image section styles*/

#singer-image {
    position: relative;
    width: 100%;
    height: auto;;
    overflow: hidden;
    display: flex; 
}

#singer-image-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -2;
}

#singer-image img {
    width: 100%;
    height: 100%;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    
}


/*styles for tours section on homepage*/

#tour-dates-home {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative;
    margin-bottom: 0; 
    font-size: 130%; 
    background-image: url("images/red-black-rock-1.png");  
}


#tour-dates-main {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 0; 
    font-size: 130%; 
    background: url("images/lead-singer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tour-dates-home h2 {
    margin: 30px 0 30px 0;
    font-weight: 400; 
    text-transform: uppercase; 
    z-index: 2; 
}


.tours-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 20px; 
    margin-bottom: 50px; 
    z-index: 3; 
}

.tours-info {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

.tour-button {    
    color: black;
    width: 100%;
    font-weight: 600;
    background-color: white;
    padding: 10px 10px; 
    border: 0; 
    font-size: 110%; 
}

.black-overlay-home-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.86;
    z-index: 1;
}


.sold-out {
    background-color: #682424; 
}

.tours-more-dates {
    width: 60%;
    font-weight: 400;
    background-color: rgb(199, 0, 0);
    padding: 10px 10px; 
    border: 0;
    text-align: center; 
    color: white; 
    margin-bottom: 50px;
    font-size: 110%; 
    z-index: 3; 
}

/*Tour dates page styles*/


#tour-dates-page-headings {
    text-align: center; 
    padding: 30px 0 0px 0;
    z-index: 3; 
    margin: 100px 0 30px 0;
    text-transform: uppercase;
    z-index: 3;
    border-bottom: solid white; 
}

#tour-dates-page-headings > h2 {
    font-weight: 350;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 819.188px;
    margin-bottom: 30px; 
}

.black-overlay-tours-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.66;
    z-index: 2;
}

/*STYLES FOR MUSIC PAGE*/

#music-page-headings {
    text-align: center; 
    padding: 20px 0 20px 0;
}

#listen, #watch {
    position: relative;
}

#listen {
    padding-top: 80px;
}

#listen-wrapper {
    width: 100%;
    height: auto;
}

.listen-container {
    width: 90%; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto 50px auto;
    border: yellow;

}

.album-cover-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 20px auto;
    gap: 15px;
    
}

.album-title {
    font-weight: 600px;    
    width: 30%;
    text-align: center;
}

.album-cover {
    width: 45%;
    height: auto;
    border: solid 2px white;
    
}

.album-cover img {
    width: 100%;
}

audio {
    height: 22px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin: 0 auto 0 auto;
    width: 90%; 
    margin-bottom: 5px;
}

.song-title {
    text-align: left;
    font-size: 90%;
    align-self:flex-start;
    margin: 0 0 5px 20px;
}

/*Watch section styles*/


#watch-container {
    width: 90%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    gap: 30px;
}

.music-video {
    width: 100%;  
    aspect-ratio: 16/9;
    border: black 5px solid;
}


.music-video > .youtube-video {
    width: 100%;
    height: 100%;   
}
    
.album-section {
    margin-bottom: 300px;
}

#watch-more-button-container {
    width: 100%;
    text-align: center;
    margin: 0 auto 30px auto;
}

#watch-more-button {
    color: black;
    width: 50%;
    letter-spacing: 3px;
    font-weight: 800;
    background-color: rgb(199, 0, 0);
    padding: 10px 10px; 
    border: 0;
    text-align: center; 
    color: white; 
    margin: 0 auto 0 auto;
}

/*footer styles*/

footer {
    background-color: black;
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
    padding-bottom: 2%;
    z-index: 3;
}

footer > h2 {
    font-size: 130%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    padding: 50px 10px 5px 10px;
    
}

form {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto 30px auto; 
    width: fit-content;
    max-width: 819.19px; 
    font-size: 130%; 
}

.form-block {
    display: flex; 
    align-items: center; 
}

label {
    width: 50px;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 10px; 
    
}

input[type="text"],
input[type="email"] {
    flex: 1;
    padding: 5px;
    margin-bottom: 20px;
}

#sign-up-button {
    color: black;
    width: 100%;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: rgb(199, 0, 0);
    padding: 10px 10px; 
    border: 0;
    text-align: center; 
    color: white; 
    margin-bottom: 50px; 
    align-self: flex-end;
    margin-left: 50px;
    font-size: 110%; 
}

.footer-text {
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0 auto 0 auto;
    list-style: none;
    gap: 10px; 
    margin-bottom: 30px;
    text-align: center;
}

.footer-icons {
    color: rgb(199, 0, 0);  
    display: flex; 
    justify-content: space-between;
    list-style: none; 
    padding: 0 5%; 
}


.footer-icons li i {
    font-size: 20px
}

/*Media queries for screens larger than 768px*/

@media screen and (min-width: 768px) {

    /*header*/
    header {
        display: flex; 
        justify-content: space-between;
    }

    nav {
        display: block;
        position: relative;
        width: 60%;
        padding-right: 10px;
        padding-left: 30px; 
        font-size: 50%;
        max-width: 460.80px;
    }

    #nav-items {
        display: flex; 
        justify-content: space-evenly; 
        /* width: 100%;  */
        font-size: 1.2rem;
        
    }

    #nav-items li {
        margin-bottom: 0; 
    }

    .nav-toggle-label {
        display: none; 
    }


/*ALBUM SECTION STYLES*/

#album-buttons {
    flex-direction: row; 
    width: 80%;
    max-width: 819.18px; 
    margin: 0 auto; 

}

    /*Tour dates info containers home and main page styles*/

    .tours-info-container {
        flex-direction: row;
        text-align: left; 
        justify-content: space-between;
        margin-bottom: 50px;
        width: 50%;
        border-bottom: solid white 1px;
        padding-bottom: 20px; 
        max-width: 720px; 
    }

    .tours-more-dates {
        width: 50%; 
        max-width: 720px; 

    }

    /*TOUR DATES MAIN PAGE STYLES*/

    #tour-dates-page-headings {
        width: 50%;     
    }

    /*Music page styles*/

    #listen-wrapper {
        width: 80%;
        display: flex;
        margin: 0 auto; 
        gap: 10%;
    }

    .listen-container {
        justify-content: normal; 
    }

    #watch-container {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap; 
    }

    .music-video {
        width: 45%;
    }

    /*Footer styles*/

    #sign-up-button {
        margin-left: 50px;
        flex-shrink: inherit;
    }

    .footer-text {
        width: 100%;
        justify-content: space-evenly;
        gap: 20%;
        padding: 0 2% 0 2%;
        
    }
}

@media screen and (min-width: 1024px) {

    /*Nav bar styles*/
    nav {
        margin-right: 50px; 
    }

    form {
        flex-direction: row; 
        width: 80%; 
        gap: 2%; 
    }

    .form-block {
        align-self: baseline; 
    }

    #sign-up-button {
        margin-bottom: 0; 
        align-self: baseline; 
    }
}

@media screen and (min-width: 1200px) {
   

    #nav-items {
        /*add more space between items in nav bar*/
        display: flex; 
        justify-content: space-between; 
    }

    .footer-text {
        gap: 30%; 
    }
}




